@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Skranji:wght@700&display=swap");

$clr-dark: rgba(4, 28, 34, 0.7);
$clr-white: rgba(237, 237, 237, 1);
$clr-error: rgba(185, 36, 22, 1);
$clr-valid: rgba(134, 165, 88, 1);
$clr-accent: rgba(205, 101, 38, 1);
$clr-focus: rgba(1, 111, 156, 1);
$clr-gray: rgba(200, 194, 194, 0.681);

@mixin font-style($weight: 400, $size: 1rem) {
  font-weight: $weight;
  font-size: $size;
}

@mixin flex-style($direction: row, $align: center, $justify: center) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-text {
  @include font-style(700, 1.2rem);
}

.error {
  display: none;
  @include font-style($size: 0.8rem);
  color: $clr-error;
}

.vertical-line {
  border: 1px solid $clr-gray;
  display: inline-block;
}

a {
  text-decoration: none;
  color: $clr-accent;
  @include font-style($weight: 700);
}

body {
  color: $clr-dark;
  background-color: $clr-white;
  main {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;

    section.left-side {
      background: url("../assets/bg-image.jpeg");
      flex: 3;

      .logo-container {
        margin-top: 10rem;
        padding: 0.6rem;
        color: $clr-white;
        background-color: $clr-dark;
        @include flex-style($align: center, $justify: center);
        gap: 1.5rem;

        img {
          height: 120px;
        }

        span.logo-text {
          transform: scale(1, 3);
          font-family: "Skranji", sans-serif;
          text-transform: uppercase;
          @include font-style($weight: 700, $size: 1.5rem);
          letter-spacing: 0.5rem;
        }
      }
    }
    section.right-side {
      flex: 5;
      padding: 8rem 4rem;

      .form-heading {
        p {
          margin-top: 1rem;
        }
      }
      .form-container {
        margin-top: 4rem;
        form {
          @include flex-style($direction: column, $align: flex-start);
          gap: 3rem;
          margin: 1.5rem 0;
          width: 100%;
          .row {
            @include flex-style($justify: flex-start);
            flex-wrap: wrap;
            gap: 5rem;

            .form-control {
              display: flex;
              flex-direction: column;
              gap: 0.5rem;
              label {
                text-transform: uppercase;
                @include font-style($weight: 700, $size: 0.8rem);
                letter-spacing: 0.1rem;
              }
              input {
                outline: none;
                border: 1px solid $clr-gray;
                border-radius: 5px;
                width: 17rem;
                height: 2rem;
                padding: 0.5rem;
                transition: border 100ms linear;

                &:focus {
                  border: 2px solid $clr-focus;
                }
                &:invalid {
                  border: 2px solid $clr-error;
                }
              }
            }
          }
          button {
            color: $clr-white;
            background-color: $clr-accent;
            cursor: pointer;
            border: none;
            text-align: center;
            @include font-style($weight: 700, $size: 1rem);
            text-transform: capitalize;
            border-radius: 7px;
            display: inline-block;
            width: 15rem;
            padding: 1rem 3rem;
            transition: transform 100ms linear;

            &:hover {
              transform: scale(1.1, 1.1);
            }
          }
        }
      }
      span.login-text {
        display: inline-block;
        @include font-style($size: 1rem);
        font-size: 1rem;
      }
    }
  }
  @media (max-width: 750px) {
    main {
      width: 100vw;
      @include flex-style($direction: column, $align: flex-start);
      height: max-content;
      section.left-side {
        width: 100vw;
      }
      section.right-side {
        padding: 1rem;
        .form-container {
          form {
            .row {
              gap: 3rem;

              .form-control {
                width: 100%;
                input {
                  width: 100%;
                  height: 3rem;
                }
              }
            }
          }
          button {
            margin-left: 50%;
            transform: translateX(-50%);
          }
        }
        span.login-text {
          margin-left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}
